# This workflow aims to produce Near Real Time classification of profiles in BCs

name: NRT-classif

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '30 */6 * * *'
  workflow_dispatch: # allows you to trigger the workflow run manually

jobs:

  classify-and-report:

    runs-on: ubuntu-latest
    environment: COPERNICUS_MARINE_SERVICE
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Energy Estimation - Initialize
      uses: green-coding-berlin/eco-ci-energy-estimation@v5
      with:
        task: start-measurement
        project: ${{ secrets.CARBONDB_PROJECT_UUID }}
        tags: "${{github.workflow}},Company-${{ secrets.CARBONDB_COMPANY_UUID }},BCmonitor"
        send-data: true
      continue-on-error: true

    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Setup Micromamba
      uses: mamba-org/setup-micromamba@v2
      with:
        micromamba-version: '1.5.10-0'
        environment-name: bc-monitor
        environment-file: environment311-pinned.yml
        cache-environment: true

    - name: Login to Copernicus Marine Service
      env:
        USERNAME: ${{secrets.COPERNICUSMARINE_SERVICE_USERNAME}}
        PASSWORD: ${{secrets.COPERNICUSMARINE_SERVICE_PASSWORD}}
      run: |
        copernicusmarine login --username $USERNAME --password $PASSWORD --force-overwrite --log-level INFO

    - name: Classify and report
      run: |
        python cli/load_classif_save.py
        ls -l data

    - name: Save report
      uses: EndBug/add-and-commit@v9.1.4
      with:
        author_name: argobot-hub
        author_email: argobot84@gmail.com
        message: 'Update PCM analysis results'
        add: "data/* --force"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Energy Estimation - Get Measurement
      uses: green-coding-berlin/eco-ci-energy-estimation@v5
      with:
        task: get-measurement
        label: 'BCmonitor PCM classif'
      continue-on-error: true

    - name: Energy Estimation - Show Results
      uses: green-coding-berlin/eco-ci-energy-estimation@v5
      with:
        task: display-results
      continue-on-error: true
