# This workflow aims to produce Near Real Time classification of profiles in BCs

name: Test-CMT

on:
  workflow_dispatch: # allows you to trigger the workflow run manually

jobs:

  classify-and-report:

    runs-on: ubuntu-latest
    environment: COPERNICUS_MARINE_SERVICE
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Setup Micromamba
      uses: mamba-org/setup-micromamba@v2
      with:
        micromamba-version: '1.5.10-0'
        environment-name: bc-monitor
        environment-file: environment39-free.yml
        cache-environment: true

    - name: Test login CMS
      env:
        USERNAME: ${{secrets.COPERNICUSMARINE_SERVICE_USERNAME}}
        PASSWORD: ${{secrets.COPERNICUSMARINE_SERVICE_PASSWORD}}
      run: |
        copernicusmarine login --username $USERNAME --password $PASSWORD --overwrite-configuration-file --log-level INFO
        ls -al ~/.copernicusmarine
        more ~/.copernicusmarine/.copernicusmarine-credentials

    - name: Test
      run: |
        python cli/load_aviso.py
